requests==2.22.0
termcolor==1.1.0
h5py==3.1.0
absl-py==0.14.1
scipy==1.4.1
gast==0.4.0
keras-preprocessing==1.1.2
astunparse==1.6.3
google-pasta==0.2.0
tensorboard==2.6.0
python-utils==2.0.0
protobuf>=3.9.2
opt-einsum==3.3.0
grpcio==1.34.0
tensorflow>=2.5.1
pillow>=8.3.2
tensorflow_addons==0.14.0
matplotlib==3.4.3
graphviz==0.17
pydot==1.4.2
pydotplus==2.0.2
numpy
pandas
