git+https://git@github.com/alteryx/promote-python@requests-upgrade
requests==2.22.0
termcolor==1.1.0
h5py==2.10.0
absl-py==0.14.1
scipy==1.4.1
gast==0.3.3
keras-preprocessing==1.1.0
astunparse==1.6.3
google-pasta==0.2.0
tensorboard==2.2.0
python-utils==2.0.0
protobuf==3.8.0
opt-einsum==2.3.2
grpcio==1.24.3
tensorflow==2.2
pillow==8.3.2
tensorflow_addons==0.14.0
matplotlib==3.4.3
graphviz==0.17
pydot==1.4.2
pydotplus==2.0.2
numpy
pandas